.hero {
  display: flex;
  flex-direction: column;
  height: 1px;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .hero__form {
    padding: 1rem;
    input {
      width: 100%;
      border-radius: 0.8rem;
      border: none;
      background-color: #e6e6e6;
      padding: 0.8rem 1rem;
      &::placeholder {
        font-family: "Roboto", sans-serif;
      }
    }
    .form__filters {
      width: 100%;
      .filter__checkbox {
        display: flex;
        align-items: center;
        flex: 1;
        .checkbox__input {
          display: none;
        }
        .checkbox__icon {
          background-color: #e6e6e6;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem 1.5rem;
          border-radius: 1rem;
          cursor: pointer;
          font-family: "Montserrat", sans-serif;
          font-weight: bolder;
          font-size: 0.8rem;
          svg {
            font-size: 2rem;
            color: #1a1a1a; /* Cambie el color del icono aquí */
          }
        }

        .checkbox__input:checked + .checkbox__icon {
          transition: all 250ms;
          color: white;
          background-color: #e97777;

          svg {
            color: #fff; /* Cambie el color del icono aquí */
          }
        }
      }
      margin: 2rem 0 1rem 0;
      display: flex;
      gap: 1rem;
      > div {
        background-color: #e6e6e6;
        border-radius: 1rem;
        svg {
          font-size: 1.5rem;
          color: #1a1a1a;
        }
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        gap: 0.5rem;
        p {
          font-family: "Montserrat", sans-serif;
          font-weight: bolder;
          font-size: 0.8rem;
        }
      }
    }
  }
}
